<!-- inject:components/header.html -->
<!-- endinject -->
</head>

<body>
  <main class="page-main">
    <div class="clock">
      <div class="clock__cricle">
        <div class="clock__hour"></div>
        <div class="clock__minute"></div>
        <div class="clock__second"></div>
        <div class="clock__cricle-dot"></div>
      </div>
    </div>
  </main>
  
  <audio id="clock-ticking" src="./music/clock_ticking.wav"></audio>
  <!-- inject:svgIcon:svg -->
  <!-- endinject -->

<!-- inject:components/footer.html -->
  <!-- endinject -->